# inventory.yaml

# Server IP and user with ssh access
export ANSIBLE_HOST=
export ANSIBLE_USER=


# vars.yaml

# Configure domain name
export DOMAIN_NAME=

# Email for Caddy Let's Encrypt notifications
export EMAIL=

# Database credentials
export POSTGRES_USER=
export POSTGRES_PASSWORD=
export POSTGRES_DATABASENAME=

# Secret key for session
export JWT=

# SMTP credentials
export SMTP_HOST=
export SMTP_PASS=
export SMTP_PORT=
export SMTP_USER=
